<div class="app">
    <main class="login-container">
        <h1>Регистрация</h1>
        <form class="login-form">
            {{> Label forAttr="post-input" text="Почта"}}
            {{> Input id="post-input" type="text" placeholder="pochta@yandex.ru"}}
            {{> Label forAttr="login-input" text="Логин"}}
            {{> Input id="login-input" type="text" placeholder="ivanivanov"}}
            {{> Label forAttr="firstname-input" text="Имя"}}
            {{> Input id="firstname-input" type="text" placeholder="Иван"}}
            {{> Label forAttr="lastname-input" text="Фамилия"}}
            {{> Input id="lastname-input" type="text" placeholder="Иванов"}}
            {{> Label forAttr="phone-input" text="Телефон"}}
            {{> Input id="phone-input" type="text" placeholder="+7 (909) 967 30 30"}}
            {{> Label forAttr="password-input" text="Пароль"}}
            {{> Input id="password-input" type="text" placeholder="***********"}}
            {{> Label forAttr="password2-input" text="Пароль (еще раз)"}}
            {{> Input id="password2-input" type="text" placeholder="***********"}}
            {{> Button id="submit-register" text="Зарегистрироваться" }}
            {{> Link class="login-link" href="#" data-page="authorize" text="Войти" }}
        </form>
    </main>
</div>
