<div class="app">
    <main class="profile-container">
        <div class="profile-wrapper">
            <!-- Аватар пользователя -->
            <div class="profile-avatar">
                <img src="" alt="avatar">
            </div>

            <!-- Информация о пароле -->
            <div class="password-info">
                <table class="profile-change-password">
                    <tr>
                        <th class="label">Label</th>
                        <th class="value">Value</th>
                    </tr>
                    <tbody>
                    <tr>
                        <td class="left-td">Старый пароль</td>
                        <td class="right-td">
                            {{> Input id="password-input" type="text" placeholder="********"}}
                        </td>
                    </tr>
                    <tr>
                        <td class="left-td">Новый пароль</td>
                        <td class="right-td">
                            {{> Input id="new-password-input" type="text" placeholder="********"}}
                        </td>
                    </tr>
                    <tr>
                        <td class="left-td">Повторите новый пароль</td>
                        <td class="right-td">
                            {{> Input id="new-password2-input" type="text" placeholder="********"}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Действия пользователя -->
            <div class="profile-actions">
                {{> Button id="submit-new-password" text="Сохранить" }}
            </div>
        </div>
    </main>
</div>
