<div class="app">
    <h1>???</h1>
    <main class="messenger-container">
        <form class="messenger-form">
            {{> Index class="user-profilePages-link" href="#" data-page="userProfile" text="Профиль" }}
            <p>Здесь будет список чатов</p>
            {{> Input id="message-input" type="text" placeholder="Ваше сообщение"}}
            {{> Index id="send-message" text="Отправить (здесь будет стрелка)" }}
        </form>
    </main>
</div>
