<div class="app">
    <main class="messenger-container">
        <div class="error-code nopage">404</div>
        <div class="error-message">Не туда попали</div>
        {{> Link class="chats-link" href="#" data-page="chats" text="Назад к чатам" }}
    </main>
</div>
