<div class="app">
    <main class="messenger-container">
        <div class="error-code">500</div>
        <div class="error-message">Мы уже фиксим</div>
        {{> Link class="chats-link" href="#" data-page="chats" text="Назад к чатам" }}
    </main>
</div>
